{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="pt-5">Bienvenue sur mon application de gestions des contacts</h1>    
    
    <ul>
    {% for leNom in lesNom %}
        <li> {{leNom|upper}} </li>
    {% endfor %}
    </ul>

{% endblock %}
